@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models

<div class="card">
  <h1 class="text-center card-header">@Html.DisplayFor(model => model.Name)</h1>
  <div class="card-body pb-1">
    <div class="row justify-content-evenly">
      <p class="col-auto card py-2">@Html.DisplayNameFor(model => model.Specialty): @Html.DisplayFor(model => model.Specialty)</p>
      <p class="col-auto card py-2">Years Worked: @Html.DisplayFor(model => model.YearsWorked)</span>
    </div>

    @if (@Model.Clients.Count == 0)
    {
      <h4 class="text-center">No clients have been assigned to this stylist yet!</h4>
    } 
    else
    {
      <h4>Clients:</h4>
      <ul class="list-group">
        @foreach (Client client in Model.Clients)
        {
          <li class="list-group-item">@client.Name @Html.ActionLink("Delete", "Delete", "Clients", new { id = client.ClientId }, new { @class = "btn btn-outline-danger float-end", @style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .25rem; --bs-btn-font-size: .35rem;" })</li>
        }
      </ul>
    }
    <div class="row mt-3 justify-content-evenly">
      <div class="col-auto">
        <p>@Html.ActionLink("Edit stylist", "Edit", new { id = Model.StylistId })</p>
      </div>
      <div class="col-auto">
        <p>@Html.ActionLink("Delete stylist", "Delete", new { id = Model.StylistId })</p>
      </div>
      <div class="col-auto">
        <p>@Html.ActionLink("Back to stylists", "Index")</p>
      </div>
    </div>
  </div>
</div>